{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>
		TODO list
	</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap1.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/mycustom.css' %}">
</head>
<body>
<div class="jumbotron">
	<h4>BFDjango TODO </h4> 
	  {% if user.is_authenticated %}
	<span class="users">{{user.username}} |
	<a href="{% url 'logout' %}" >Log out</a></span>
	   {% else %}
	  <a href="{% url 'register' %} " class='users'>Sign Up</a> 
	      {% endif %}
</div>
<div class="container">

{% block body %}
{% endblock %}


</div>
</body>

</html>