{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>
		TODO list
	</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap1.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/mycustom.css' %}">
</head>
<body>
<div class="jumbotron">
	<h4>BFDjango TODO </h4> 
</div>
<div class="container">
	<button type="button" class="btn btn-primary">Add task</button>
	<hr><h1>Tasks in list 1</h1>
	<table class="table table-hover equal-width-cols">

    <tr>
      <th scope="col" class>Tasks</th>
      <th scope="col">Created</th>
      <th scope="col">Due on</th>
      <th scope="col">Owner</th>
       <th scope="col">Mark</th>
    </tr>
</table>
{% block body %}
{% endblock %}


<button type="button" class="btn btn-danger">Delete this list</button>
</div>
</body>
</html>